/*
  A SET OF VARIABLES FOR THE CRM
*/

/*
  Fonts
*/
$gotham-medium: 'Gotham Rounded Medium', helvetica, sans-serif;
$gotham-medium-italic: 'Gotham Rounded Medium Italic', helvetica, sans-serif;
$gotham-book: 'Gotham Rounded Book', helvetica, sans-serif;
$gotham-book-italic: 'Gotham Rounded Book Italic', helvetica, sans-serif;

$facebook: #334e8f;
$facebook_dark: #284277;
$linkedin: #006ca8;
$linkedin_dark: #04597f;
$google: #e64a46;
$google_dark: #cc3737;

$background: #f6f9fc;
